<div id="union">
  <div class="row container">
    <div class="col-12">UNION</div>
    <div class="col-12 row flex-nowrap data-container">
      <div class="col-4 col-sm-3 col-md-3 col-lg-6 col-xl-4">
      <label id="type-label" class="data-label" for="type-value">Type</label>
      </div>
      <div id="type-value" class="data-value flex-wrap">
        {{ union.type }}
      </div>
    </div>
    <div class="col-12 row flex-nowrap data-container">
      <div class="col-4 col-sm-3 col-md-3 col-lg-6 col-xl-4">
      <label id="start-date-label" class="flex-nowrap data-label" for="start-date-value">Start Date</label>
      </div>
      <div id="start-date-value" class="data-value flex-wrap">
        {{ union.startDate }}
      </div>
    </div>
    <div class="col-12 row flex-nowrap data-container">
      <div class="col-4 col-sm-3 col-md-3 col-lg-6 col-xl-4">
      <label id="start-location-label" class="data-label" for="start-location-value">Start Location</label>
      </div>
      <div id="start-location-value" class="data-value flex-wrap">
        {{ union.startLocation }}
      </div>
    </div>
    <div class="col-12 row flex-nowrap data-container">
      <div class="col-4 col-sm-3 col-md-3 col-lg-6 col-xl-4">
      <label id="end-type-label" class="data-label" for="end-type-value">End Type</label>
      </div>
      <div id="end-type-value" class="data-value flex-wrap">
        {{ union.endType }}
      </div>
    </div>
    <div class="col-12 row flex-nowrap data-container">
      <div class="col-4 col-sm-3 col-md-3 col-lg-6 col-xl-4">
      <label id="end-date-label" class="data-label" for="end-date-value">End Date</label>
      </div>
      <div id="end-date-value" class="data-value flex-wrap">
        {{ union.endDate }}
      </div>
    </div>
  </div>
</div>
