.data-label {
  width: 100px;
  background-color: bisque;
  margin: 0px 0px 0px 0px;
  border-radius: 20%;
  padding-left: 5px;
}
.data-value {
  font-weight: bold;
}
.card .row {
  margin: 0px 0px 0px 0px;
  min-height: 30px;
}
.row > * {
  padding-left: 0;
}
.nav-link {
  text-decoration: none;
}
a {
  cursor: pointer;
  color: cornflowerblue !important;
  font-weight: bold;
}
