<div id="app">
  <div class="container-fluid">
    <nav class="navbar navbar-expand-sm navbar-light bg-light">
      <a class="navbar-brand" href="#">HVGN</a>
      <button (click)="isMenuCollapsed = !isMenuCollapsed"
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent" [ngbCollapse]="isMenuCollapsed">
        <ul ngbNav class="navbar-nav mr-auto">
          <li ngbNavItem><a ngbNavLink class="nav-link" routerLink="/home" (click)="isMenuCollapsed = true">Home</a></li>
          <li ngbNavItem><a ngbNavLink class="nav-link" routerLink="/about" (click)="isMenuCollapsed = true">About</a></li>
          <li ngbNavItem><a ngbNavLink class="nav-link" routerLink="/family/{{currentFamily}}" (click)="isMenuCollapsed = true">Eric's Tree</a></li>
        </ul>
      </div>
    </nav>
  </div>
  <router-outlet></router-outlet>
  <app-spinner *ngIf="spinnerState"></app-spinner>
</div>


