<div id="app">
  <div class="container-fluid">
    <nav class="navbar navbar-expand-sm navbar-light bg-light">
      <a class="navbar-brand" href="#">HVGN</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li><a class="nav-link" routerLink="/home">Home</a></li>
          <li><a class="nav-link" routerLink="/about">About</a></li>
          <li><a class="nav-link" routerLink="/family/{{currentFamily}}">Duke's Tree</a></li>
        </ul>
      </div>
    </nav>
  </div>
  <router-outlet></router-outlet>
  <app-spinner *ngIf="spinnerState"></app-spinner>
</div>


