<div id="home">
  <div id="headersection">
    <br />
    <div id="header" class="row">
      <div id="title" class="text text-center offset-1 col-10 offset-1">
        Welcome to the HVGN genealogy website
      </div>
    </div>
    <br/>
    <div id="subheader" class="row">
      <div id="subtitle" class="text text-center offset-1 col-10 offset-1">
        where HVGN stands for: Hamacher Vosen Gempeler and Nipple
      </div>
    </div>
    <div id="headerphoto" class="row">
      <div id="titlephoto" class="text-center offset-1 col-10 offset-1">
        <img class="img-fluid" src="../assets/hvgn_200.jpeg" />
      </div>
      <div id="titlephotocaption" class="text-center offset-1 col-10 offset-1">
        1936 - Christian Gempeler, Florence Imogene Nipple, Theresa Vosen, Peter Hamacher
      </div>
    </div>
    <br />
  </div>

  <div id="section2">
    <br />
    <div class="row">
      <div class="text-justify offset-1 col-10 offset-1">
        <p class="text">
          These are the four surnames of my (John Eric Hamacher) four paternal great-grandparents.
          This website is of potential value to anyone researching their family history in
          south-central Wisconsin, especially Dane County. Click
          <a class="link" (click)="moveToTree()">here</a> to view the family tree.
        </p>
        <p class="text">
          If you see a mistake, want to comment or have information I might find interesting,
          e-mail Eric at
          <a href="mailto:erichamacher@protonmail.com">erichamacher@protonmail.com</a>. Over time,
          I will have additional people, information and sources.
        </p>
        <P class="text">
          Very special thanks go out to the following people for their time and information: Lynn
          Betlock, Leo Hamacher, Millie Hamacher, Penny Nipple, and many more.
        </P>
      </div>
      <div id="photo2" class="text-center offset-1 col-10 offset-1">
        <img class="img-fluid" src="../assets/matt_wedding_100.jpeg" />
      </div>
      <div id="photo2caption" class="text-center offset-1 col-10 offset-1">
        2011 - Matthew Hamacher/Carolyn Barry wedding
      </div>
    </div>
    <br />
  </div>
  <div id="section3">
    <br />
    <div class="row">
      <div class="text text-justify offset-1 col-10 offset-1">
        NEW!! The story of the Madison Hamachers!!&nbsp;
        <a href="javascript:void(0)" (click)="download('assets/Hamacher_Story.doc', 'application/msword')">Microsoft Word</a>&nbsp;
        <a href="javascript:void(0)" (click)="download('assets/Hamacher_Story_Text.txt', 'text/plain charset=utf-8')">Plain Text</a>
      </div>
    </div>
    <br />
  </div>
</div>
