#headersection {
  background-color: aquamarine;
}
#title {
  font-size: 3em;
}
#subtitle {
  font-size: 2em;
}
#titlephotocaption {
  font-size: 1em;
}
#section2 {
  font-size: 2em;
  background-color: lightgray;
}
#email-paragraph a {
  font-size: 0.7em;
}
#photo2 img {
  width: 80%;
}
#photo2caption {
  font-size: 0.5em;
}
.link {
  color: blue !important;
  cursor: pointer;
}
#section3 {
  font-size: 2em;
  background-color: coral;
}
.text {
  line-height: 1.2em;
}
