<div class="about">
  <br/>
  <div class="row">
      <p class="text-justify offset-1 col-10 offset-1">
        This site is written in Angular and backed by an
        AWS serverless architecture.  There are plans to
        add more features including editing ability to the
        tree.  More source code will be made available in
        GitHub sometime in the future.
      </p>
      <p class="text-justify offset-1 col-10 offset-1">
        The data for this site has been collected over
        the last 25 years.
      </p>
      <p class="text-justify offset-1 col-10 offset-1">
        The overall architectural diagram for HVGN can be found
        <a href="https://github.com/badgerduke/hvgn-architecture"
        target=”_blank”>here</a>.
      </p>
      <p class="text-justify offset-1 col-10 offset-1">
        The CloudFormation template defining the pipeline
        which builds the backend of this site can be found
        <a href="https://github.com/badgerduke/hvgn-backend-pipeline"
        target=”_blank”>here</a>.
      </p>
      <p class="text-justify offset-1 col-10 offset-1">
        The Angular powering this site can be found
        <a href="https://github.com/badgerduke/hvgn-frontend-ng"
        target=”_blank”>here</a>.
      </p>
      <p class="text-justify offset-1 col-10 offset-1">
        The Serverless Framework deploys the backend of this site.
        The backend code can be found
        <a href="https://github.com/badgerduke/hvgn-backend"
        target=”_blank”>here</a>.
      </p>
      <p class="text-justify offset-1 col-10 offset-1">
        Spinner icon courtesy of <a href="https://loading.io/icon/"
        target=”_blank”>loading.io</a>
      </p>
  </div>
</div>
