<div class="about">
  <br/>
  <div class="row">
      <p class="text-justify offset-1 col-10 offset-1">
        This site is written in Angular and backed by an
        AWS serverless architecture.  There are plans to
        add more features including editing ability to the
        tree.  The source code will be made available in
        GitHub sometime in the future.
      </p>
      <p class="text-justify offset-1 col-10 offset-1">
        The data for this site has been collected over
        the last 25 years.
      </p>
      <p class="text-justify offset-1 col-10 offset-1">
        The CloudFormation template defining the pipeline
        which builds the backend of this site can be found
        <a href="https://github.com/badgerduke/hvgn-backend-pipeline"
        target=”_blank”>here</a>.
      </p>
      <p class="text-justify offset-1 col-10 offset-1">
        Spinner icon courtesy of <a href="https://loading.io/icon/"
        target=”_blank”>loading.io</a>
      </p>
  </div>
</div>
